<footer class="section footer-about">
  <div class="container">
    <div class="columns">
      <div class="column is-5">
        <h2 class="title is-size-4">About me</h2>
        <p class="footer-description">
          I'm an open source developer from France currently working as a Web
          and infrastructure developer for Godot Engine.
        </p>
      </div>
      <div class="column is-5 is-offset-1">
        <h2 class="title is-size-4">Follow me</h2>
        <ul class="links">
          <li><a href="https://github.com/Calinou">GitHub</a></li>
          <li><a href="https://gitlab.com/Calinou">GitLab</a></li>
          <li><a href="https://keybase.io/calinou">Keybase</a></li>
          <li><a href="https://twitter.com/HugoLocurcio">Twitter</a></li>
          <li><a href="https://codestats.net/users/Calinou">Code::Stats</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<footer class="section footer-copyright">
  <div class="container">
    <div class="columns">
      <div class="column">
        © 2017-present Hugo Locurcio
        {% if site.email %}
        ⋅ <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        {% endif %}
      </div>
      <div class="column has-text-right-tablet">
        Content is available under <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0 Universal<span class="external-link"></span></a>
        unless otherwise specified.<br>
        The website source code is available <a href="https://gitlab.com/Calinou/hugo.pro">on GitLab<span class="external-link"></span></a>.
      </div>
    </div>
  </div>
</footer>
