<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ '/' | relative_url }}">
        Hugo Locurcio
      </a>
      <button class="button navbar-burger" data-target="navMenu" aria-label="Menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <a class="navbar-item" href="{{ '/projects/' | relative_url }}">
          Projects
        </a>
      </div>
      {% assign posts = 0 %}
      {% for post in site.posts %}
        {% assign posts = posts | plus: 1 %}
      {% endfor %}
      {% if posts >= 1 %}
      <div class="navbar-end">
        <a class="navbar-item" href="{{ '/articles/' | relative_url }}">
          Articles
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</nav>
