<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.description %}
  <meta name="description" content="{{ page.description | normalize_whitespace }}">
  {% endif %}
  <meta name="apple-mobile-web-app-title" content="hugo.pro">
  <meta name="application-name" content="hugo.pro">
  <meta name="msapplication-TileColor" content="{{ site.theme_color }}">
  <meta name="theme-color" content="{{ site.theme_color }}">
  <title>
    {% comment %}
    Distinguish a development environment from a production environment.
    {% endcomment %}
    {% if jekyll.environment != "production" %}(DEV){% endif %}
    {% if page.homepage %}
    {{ site.title }} - {{ page.title }}
    {% else %}
    {{ page.title }} - {{ site.title }}
    {% endif %}
  </title>
  <link rel="apple-touch-icon" href="{{ '/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | relative_url }}">
  <link rel="manifest" href="{{ '/site.webmanifest' | relative_url }}">
  <link rel="mask-icon" href="{{ '/safari-pinned-tab.svg' | relative_url }}" color="{{ site.theme_color }}">
  <link rel="stylesheet" href="{% include asset.html url='/static/main.css' %}">
  <link rel="preload" as="font" href="{{ '/static/fonts/Inter-roman.var.woff2' | relative_url }}" crossorigin>
  <link rel="preload" as="font" href="{{ '/static/fonts/Inter-italic.var.woff2' | relative_url }}" crossorigin>
  <script defer src="{% include asset.html url='/static/runtime.js' %}"></script>
  <script defer src="{% include asset.html url='/static/vendor.js' %}"></script>
  <script defer src="{% include asset.html url='/static/main.js' %}"></script>
</head>
