// _post.scss: Styles specific to posts
//
// Copyright © 2017-present Hugo Locurcio - MIT License
// See `LICENSE.md` included in the source distribution for details.

.content
  h2
    // Add a line below each title in posts
    font-weight: 500

  h3
    font-size: $size-5
    margin-top: 2rem
    margin-bottom: 1.6rem

  p
    font-size: $size-6
    margin-top: 2rem
    margin-bottom: 2rem
    text-align: justify

  p:not(:last-child)
    margin-bottom: 2rem
