---
layout: page
title: Blog
---

<section class="section articles">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-11-tablet is-10-desktop is-9-widescreen is-8-fullhd">
        <h1 class="title has-text-centered section-title">Articles</h1>
        {% for post in site.posts %}
        <hr>
        <h2 class="title is-4">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h2>
        <div class="post-date subtitle is-6">{{ post.date | date_to_long_string }}</div>
        <p>{{ post.excerpt }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
