---
layout: page
homepage: true
title: Full-stack Web Developer
description: >
  I'm an open source developer from France currently working as a Web and
  infrastructure developer for Godot Engine.
---

<section class="section section-home">
  <div class="container">

    <div class="columns">
      <article class="column is-8 is-offset-2">
        <h1 class="title is-size-2 has-text-centered">
          Full-stack Web Developer,<br>
          Open Source Enthusiast
        </h1>
        <p class="home-subtitle">
          {{ page.description }}
        </p>
      </article>
    </div>

  </div>
</section>

<section class="section">
  <div class="container">

    <h2 class="title section-title has-text-centered">Portfolio</h2>
    <div class="columns is-multiline">
      {% for item in site.data.portfolio %}
      <article class="column is-6-tablet is-4-desktop">
        <div class="card card-portfolio">
          <a href="{{ item.url }}">
            <div class="card-image">
              <figure style="background: {{ item.background }}" class="image is-16by9">
                {% include img_srcset.html src=item.image alt=item.title %}
              </figure>
            </div>
          </a>
          <div class="card-content">
            <h2 class="title has-text-centered has-text-weight-bold is-size-4">{{ item.title }}</h2>
            <h3 class="subtitle has-text-centered has-text-weight-normal is-size-5">{{ item.blurb }}</h3>
            {{ item.description | markdownify }}
          </div>
          <div class="card-footer">
            <a class="card-footer-item" href="{{ item.url }}">
              {{ item.action }}
              {% if item.url contains "://" %}<span class="external-link"></span>{% endif %}
            </a>
          </div>
        </div>
      </article>
      {% endfor %}
    </div>

  </div>
</section>

<section class="section section-thanks">
  <div class="container content">

    <h2 class="is-size-2 has-text-centered">Thanks!</h2>
    <p class="has-text-centered">
      These people pledge to my open source efforts on Patreon.<br>
      <a class="has-text-weight-bold" href="https://patreon.com/calinou">
        Contribute to be listed here!
      </a>
    </p>

    <h3 class="is-size-4 has-text-centered">Gold Supporters</h3>
    <div class="columns is-mobile is-multiline has-text-centered is-size-4">
      {% for supporter in site.data.supporters %}
      {% if supporter.type == "gold" %}
      <div class="column is-6-mobile is-4-tablet is-3-desktop">
        {% if supporter.url %}<a href="{{ supporter.url }}">{% endif %}
        {{ supporter.name }}
        {% if supporter.url %}</a>{% endif %}
        </div>
      {% endif %}
      {% endfor %}
    </div>

    <h3 class="is-size-4 has-text-centered">Supporters</h3>
    <div class="columns is-mobile is-multiline has-text-centered">
      {% for supporter in site.data.supporters %}
      {% if supporter.type == "normal" %}
      <div class="column is-6-mobile is-4-tablet is-3-desktop">
        {{ supporter.name }}
        </div>
      {% endif %}
      {% endfor %}
    </div>

</section>
