---
layout: page
title: Unofficial Godot Engine builds
description: Download daily Godot Engine builds for all platforms here.
---

<section class="section project">
  <div class="container">
    <div class="columns is-centered">
      <div class="content column is-9-desktop is-8-widescreen is-7-fullhd">
        <h1>Unofficial Godot Engine builds</h1>
        <article class="message is-warning">
          <div class="message-header">
            Warning
          </div>
          <div class="message-body">
            As a result of GitLab no longer providing unlimited free CI minutes
            for personal public projects, builds are no longer provided on this
            page.
            <br><br>
            Please use <a href="https://godotengine.org/blog/pre-release/" rel="noopener noreferrer">official Godot pre-releases<span class="external-link"></span></a>
            instead. The stability of these builds is not guaranteed. Use them at your own risk.<br>
            Make regular backups of your projects!
            <br><br>
            Official stable releases are available
            <a href="https://godotengine.org/download/" rel="noopener noreferrer">here<span class="external-link"></span></a>.
            <br><br>
            Official nightly builds may be created in the future, but there is no ETA.
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
