---
layout: page
title: Projects
description: Browse my personal open source projects on this page.
permalink: /projects/index.html
---

<section class="section portfolio">
  <div class="container">
    <h1 class="title has-text-centered section-title">Projects</h1>
    <div class="columns is-multiline">
      {% for project in site.data.projects %}
      <article class="column is-6-tablet is-4-desktop">
        <div class="card card-project">
          <div class="card-content">
            <h2 class="title has-text-centered">{{ project.title }}</h2>
            {{ project.description | markdownify }}
            <div class="tags">
              {% for tag in project.tags %}
              <span class="tag is-rounded">{{ tag }}</span>
              {% endfor %}
            </div>
          </div>
          <div class="card-footer">
            <a class="card-footer-item" href="{{ project.url }}">
              {{ project.action }}
              {% if project.url contains "://" %}<span class="external-link"></span>{% endif %}
            </a>
          </div>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>
</section>
